# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Java CI with Gradle

on:
  push:
    branches: [ '*' ]
  pull_request:
    branches: [ '*' ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
        
    - name: Setup cache
      uses: actions/cache@v2
      with:
        path: |
          ~/.gradle/caches
          ~/.gradle/wrapper
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
        restore-keys: |
          ${{ runner.os }}-gradle-
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      env:
        NMS_MAVEN_URI: ${{ secrets.NMS_MAVEN_URI }}
        CRISTALIX_MAVEN_URI: ${{ secrets.CRISTALIX_MAVEN_URI }}
      run: ./gradlew --warning-mode all --no-daemon build
      
    - uses: actions/upload-artifact@v2
      with:
        name: museum-game.jar
        path: museum-game/build/libs/museum-game.jar

    - uses: actions/upload-artifact@v2
      with:
        name: museum-service.jar
        path: museum-service/build/libs/museum-service.jar